<main class="container d-flex flex-wrap justify-content-center">
  <div class="card bg-dark mb-3" style="width: 20rem;">
    <img src="/src/assets/sexymotherf.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card bg-dark mb-3" style="width: 20rem;">
    <img src="/src/assets/jackie.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card bg-dark mb-3" style="width: 20rem;">
    <img src="/src/assets/valerie.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card bg-dark mb-3" style="width: 20rem;">
    <img src="/src/assets/raime.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card bg-dark mb-3" style="width: 20rem;">
    <img src="/src/assets/sarai.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card bg-dark mb-3" style="width: 20rem;">
    <img src="/src/assets/abel and erick.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-secondary">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
</main>
