<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Password Reset</mat-card-title>
    </mat-card-header>
    <form
      class="example-form"
      (submit)="resetpassword(resetForm)"
      #resetForm="ngForm"
      *ngIf="!isLoading"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          ngModel
          #emailInput="ngModel"
          placeholder="Ex. pat@example.com"
          required
          email
        />
        <mat-error
          *ngIf="
          emailInput.invalid
          "
        >
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          *ngIf="!isLoading"
        >
          Reset
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
