.fab {
  font-size: 1.5rem;
  background: -webkit-linear-gradient(-120deg, #c40707, #c94c00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
mat-grid-tile {
  background: transparent;
}
.terms-width {
  width: 100%
}
p {
  color:grey;
}
a {
  color:#bf5700;
}
footer {
  margin-top: 2em;
}