<section class="mat-typography">
  <div class="intro">
    <h3>
      Speed, Ease of Development, Highly Reactive, Awesome Support for
      Asynchronous Operations, Greate Scalability and More!
    </h3>
  </div>
  <div class="cards">
    <mat-card *ngFor="let item of projectList" class="example-card">
      <mat-card-header>
        <div mat-card-avatar><i class="far fa-file-code"></i></div>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>GitHub</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ item.text}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="{{ item.link }}"
          >View More</a
        >
      </mat-card-actions>
    </mat-card>
  </div>
</section>
