section {
  margin-left: 1em;
  margin-right: 1em;
}
@media (min-width: 1000px) {
  section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }
}
.intro {
  display: flex;
  position: relative;
  background: -webkit-linear-gradient(-120deg, #c40707, #bf5700);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.text-color {
  background: -webkit-linear-gradient(120deg, #ffe259, #ffa751);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
mat-card {
  margin-bottom: 1em;
}
.mat-card-image:first-child {
  margin-top: 1em;
  border-radius: 50%;
  height: 15em;
  width: 15em;
}