<section>
  <div class="intro">
    <mat-card>
      <div class="card-image">
        <img mat-card-image src="/assets/Profile.png" alt="Erick Flores" />
      </div>
      <mat-card-content>
        <p class="text-color">
          "If somebody told you I was just your average ordinary guy, without a
          care in the world... somebody lied."
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card *ngFor="let summary of summaries"
    ><p class="text-color">
      {{ summary.text }}
    </p></mat-card
  >
</section>
