<section>
  <div class="intro">
    <mat-card>
      <div class="card-image">
        <img mat-card-image src="/assets/Profile.png" alt="Erick Flores" />
      </div>
      <mat-card-content>
        <p class="text-color">
          "If somebody told you I was just your average ordinary guy, without a
          care in the world... somebody lied."
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card
    ><p class="text-color">
      As a web developer, I work to better understand how web applications
      motivates and shapes the way we do business and administration. My
      expertise includes project design and management, data manipulation and
      interpretation, and the development and implementation of open-source
      tools.
    </p></mat-card
  >
  <mat-card
    ><p class="text-color">
      I enjoy generating new ideas and devising feasible solutions to broadly
      relevant problems. My colleagues would describe me as a driven,
      resourceful individual who maintains a positive, proactive attitude when
      faced with adversity.
    </p></mat-card
  >
  <mat-card
    ><p class="text-color">
      Currently, I’m seeking opportunities that will allow me to develop and
      promote technologies that benefit the development of the humanities.
      Specific fields of interest include machine learning, biotechnology, and
      internet-of-things. 🕸
    </p></mat-card
  >
</section>
