<main>
  <!-- First Stage  -->
  <div class="d-flex flex-wrap justify-content-center container">
    <div>
      <h3 class="title-page text-center">
        “Some things cannot be taught; they must be experienced. You never learn the most valuable lessons in life until
        you go through your own journey.”
      </h3>
    </div>
    <div class="card m-3" style="width: 19rem;">
      <div class="card-body">
        <h5 class="card-title">
          Don't just learn, experience!
        </h5>
        <p class="card-summary">
          Explore varioius cases and scenarios for distributed computing infrastructure.
        </p>
        <ul class="card-text">
          <li>
            Strong interest and skills in web technologies: HTML, CSS, & JavaScript.
          </li>
          <li>
            Experience with modern enterprise design philosophies & patterns.
          </li>
        </ul>
      </div>
    </div>
    <div class="card m-3" style="width: 19rem;">
      <div class="card-body">
        <h5 class="card-title">
          Don't just read, absorb!
        </h5>
        <p class="card-summary">
          Keeping up with rapidly evolving industry trends.
        </p>
        <ul class="card-text">
          <li>
            Understanding how the web works from a rudimentary level.
          </li>
          <li>
            Ability to match solutions to business needs without unnecessary complexity.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Second Stage -->
  <div class="d-flex flex-wrap justify-content-center container">
    <div>
      <h3 class="title-page text-center">
        “Progress is not in enhancing what is, but in advancing toward what will be.”
      </h3>
    </div>
    <div class="card m-3" style="width: 19rem;">
      <div class="card-body">
        <h5 class="card-title">
          Don't just think, ponder!
        </h5>
        <p class="card-summary">
          Optimize and implement for maximum speed and scalability.
        </p>
        <ul class="card-text">
          <li>
            Good understanding of asynchronous request handling.
          </li>
          <li>
            Provide appropriate endpoints on Backend, for Frontend to consume
          </li>
        </ul>
      </div>
    </div>
    <div class="card m-3" style="width: 19rem;">
      <div class="card-body">
        <h5 class="card-title">
          Don’t just dream, do!
        </h5>
        <p class="card-summary">
          Involved with all aspects of the user interface and experience.
        </p>
        <ul class="card-text">

          <li>
            Implementing Users, Authentication as well as Authorization
          </li>
          <li>
            Assuring: all user input is validated, experience is intuitive & accessible.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Third Stage -->
  <div class="d-flex flex-wrap justify-content-center container">
    <div>
      <h3 class="title-page text-center">
        "They are mistakes which it is useful to make, for we learn from failure; not success"
      </h3>
    </div>
    <div class="card m-3" style="width: 19rem;">
      <div class="card-body">
        <h5 class="card-title">
          Don't just change, transform!
        </h5>
        <p class="card-summary">
          Striving for well behaved interface across a wide variety of devices.
        </p>
        <ul class="card-text">
          <li>
            Design and develop product assets, features, themes and style guides.
          </li>
          <li>
            Develop applications using frameworks to avoid cross-browser compatibility issues.
          </li>
        </ul>
      </div>
    </div>
    <div class="card m-3" style="width: 19rem;">
      <div class="card-body">
        <h5 class="card-title">
          Don't just tell, show!
        </h5>
        <p class="card-summary">
          Able to collaborate and cultivate relationships with stakeholders.
        </p>
        <ul class="card-text">
          <li>
            Strong communication skills, both written and verbal.
          </li>
          <li>
            Manage project priorities, deadlines and deliverables.
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
