<section>
  <div class="intro">
    <h3>
      “Progress is not in enhancing what is, but in advancing toward what will
      be.”
    </h3>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let experiencePoint of experiencePoints">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ experiencePoint.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>
          {{ experiencePoint.text }}
        </li>
        <li>
          {{ experiencePoint.secondaryText}}
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</section>
