<main class="d-flex justify-content-center flex-wrap">
  <div class="card m-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Target</h5>
      <h6 class="card-subtitle mb-2 text-muted">Guest Advocate</h6>
      <p class="card-text">Scan and bag all guest items efficiently, neatly, and in compliance with food safety standards and company best practices. Work efficiently to minimize guest wait time while maintaining guest service and accuracy.
      </p>
      <p class="card-text"><small class="text-muted">Oct 2019 - Jan 2020</small></p>
    </div>
  </div>
  <div class="card m-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Levy Restaurants</h5>
      <h6 class="card-subtitle mb-2 text-muted">Substitute Teacher</h6>
      <p class="card-text">Working with children, understanding how they learn and creating a nurturing learning
        atmosphere for every student.
      </p>
      <p class="card-text"><small class="text-muted">Nov 2018 - May 2019</small></p>
    </div>
  </div>
  <div class="card m-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Rio Grande City Consolidated Independent School District</h5>
      <h6 class="card-subtitle mb-2 text-muted">Substitute Teacher</h6>
      <p class="card-text">Working with children, understanding how they learn and creating a nurturing learning
        atmosphere for every student.
      </p>
      <p class="card-text"><small class="text-muted">Nov 2018 - May 2019</small></p>
    </div>
  </div>
  <div class="card m-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Dave & Buster's</h5>
      <h6 class="card-subtitle mb-2 text-muted">Server & Service Support</h6>
      <p class="card-text">Ensure Guests have an unparalleled experience by providing fast, friendly service and being
        attentive to Guests’ needs.
      </p>
      <p class="card-text"><small class="text-muted">Jun 2017 - May 2018</small></p>
    </div>
  </div>
</main>
