.title-page {
  background: -webkit-linear-gradient(-120deg, #c40707, #c94c00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
mat-expansion-panel {
  margin-left: 1em;
  margin-right: 1em;
}
section {
  margin-bottom: 1em;
}
@media (min-width: 1000px) {
  section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}