.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fa-file-code {
  font-size: 3em;
  max-height: 40px;
  color: rgb(8, 185, 8);
}
.example-card {
  max-width: 400px;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
}
.intro {
  display: flex;
  justify-content: center;
  position: relative;
  background: -webkit-linear-gradient(-120deg, #c40707, #bf5700);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}