<section>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <mat-card
    *ngFor="let question of questions"
    [routerLink]="['/answer', question.id]"
    routerLinkActive="router-link-active"
  >
    <mat-card-content>
      {{ question.title }}
    </mat-card-content>
    <mat-card-footer *ngIf="answered">Most Recent: </mat-card-footer>
  </mat-card>

  <mat-paginator
    [length]="totalQuestions"
    [pageSize]="questionsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="questions.length > 0"
  ></mat-paginator>

  <mat-card
    class="info-text mat-body-1"
    *ngIf="questions.length <= 0 && !isLoading"
  >
    No questions added yet!
  </mat-card>
</section>
