<section>
  <mat-card class="question_container">
    <mat-card-content *ngIf="question">{{ question.title }}</mat-card-content>
  </mat-card>

  <mat-card>
    <button
      @myInsertRemoveTrigger
      *ngIf="answer.value.length > 0"
      mat-mini-fab
      color="primary"
      aria-label="save button"
      (click)="onSaveAnswer()"
    >
      <span class="material-icons"> save </span>
    </button>
    <mat-form-field appearance="outline">
      <mat-label>{{ currentDate | date: "mediumDate" }}</mat-label>
      <textarea
        matInput
        #answer
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        maxlength="3000"
        placeholder="as you were saying..."
        [formControl]="writtenAnswer"
      ></textarea>
      <mat-hint align="end">{{ answer.value.length }} / 3000</mat-hint>
    </mat-form-field>
  </mat-card>

  <div class="answer_container">
    <mat-card
      class="answer"
      *ngFor="let answer of question.answers; index as questionId"
    >
      <button
        id=menuTrigger
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="onDelete(answer._id, answer.question_id)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
      <mat-card-subtitle>
        <p id="dateSubmit">
          {{ answer.date | date: mediumDate }}
        </p>
      </mat-card-subtitle>
      <mat-card-content>
        <p>
          {{ answer.answer }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
