<mat-card>
  <p> {{ question.title }}</p>
  <p> {{ question.id }}</p>
</mat-card>
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <!-- <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
      <mat-form-field>
        <textarea matInput rows="4" formControlName="answer" placeholder="As you were saying..."></textarea>
        <mat-error *ngIf="form.get('answer').invalid">At least say something...</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Save</button>
    </form> -->
  </mat-card>