mat-expansion-panel {
  margin-left: 1em;
  margin-right: 1em;
}
section {
  margin-bottom: 1em;
}
@media (min-width: 1000px) {
  section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}
.intro {
  display: flex;
  position: relative;
  background: -webkit-linear-gradient(-120deg, #c40707, #bf5700);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}