@media (min-width: 1000px) {
  section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}
section {
  margin-bottom: 1em;
}
.intro_h1 {
  font-size: 3rem;
  line-height: 1;
  background: -webkit-linear-gradient(-120deg, #c40707, #bf5700);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5px;
}
.mat-card {
  margin: 1em;
  text-align: center;
}
.mat-card-title {
  font-size: 23px;
  font-weight: 400;
  line-height: 1.2;
}
p {
  text-align: left;
}
.mat-card-actions {
  display: flex;
}
