/* .text-express {
  background: -webkit-linear-gradient(#c40707, #c94c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
.card {
  background-color: #343a40;
}
.card-text {
  color: #6c757d;
}
.card-title {
  color: white;
}
