<div class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom text-express">
        The technology and some key components of how the application works are
        different, but the philosophy is always the same.
      </h3>
      <!-- In the Past  -->
      <div class="blog-post">
        <h2 class="blog-post-title text-white">In the Past...</h2>
        <p class="text-muted">In the past, when browsers were much less capable than today, and
          JavaScript performance was poor, every page was coming from a server.
          Every time you clicked something, a new request was made to the server
          and the browser subsequently loaded the new page.</p>
        <!-- /.blog-post -->

        <!-- Efficiency and Security -->
        <div class="blog-post">
          <h2 class="blog-post-title text-white">Efficiency & Security</h2>
          <p class="text-muted">When based software need updating, every single device in which
            the application is installed will need individually updating.
            Compare this with a web based application, where a security or
            functionality update can be rolled out to every version of the web
            application with zero downtime, giving users instant access to the
            updated version of the app.</p>
          <p class="text-muted">Web applications store information on remote service, so as long
            as you know your URL (web address), user name and password, you
            can log-in securely to any computer or mobile device connected to
            the internet and your business can be up and running again in no
            time.</p>
        </div><!-- /.blog-post -->

        <!-- Customizable and Scalable -->
        <div class="blog-post">
          <h2 class="blog-post-title text-white">Easy Customizable and Scalable</h2>
          <p class="text-muted">As a custom web application is made specifically to your business
            needs, it’s completely flexible and scalable to your business’s
            demands and growth. By only having features and functions which
            are relevant to your business, you’ll reduce training time and can
            add functionality as your business grows.</p>
        </div><!-- /.blog-post -->
      </div><!-- /.blog-main -->
