.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.example-sidenav {
  padding: 20px;
}
img {
  max-width: 6em;
  max-height: 100%;
}
.mat-drawer-container {
  background: #bf5700;
}