<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="example-sidenav">
    <mat-selection-list [multiple]="false">
      <mat-list-option
        routerLink="/{{ item.route }}"
        routerLinkActive="active"
        *ngFor="let item of navigationList"
      >
        {{ item.title }}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content class="background-sky">
    <header>
      <mat-grid-list cols="3" rowHeight="7em">
        <mat-grid-tile>
          <button
            mat-raised-button
            (click)="sidenav.toggle()"
            routerLinkActive="router-link-active"
            color="primary"
          >
            <span class="material-icons"> menu </span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile
          ><img
            src="/assets/existential thinker logo colored shrinked.png"
            routerLink="/"
            routerLinkActive="active"
            alt="existential thinker logo"
          />
        </mat-grid-tile>
        <mat-grid-tile>
          <button
            *ngIf="!userIsAuthenticated"
            mat-raised-button
            [routerLink]="['/auth/login']"
            routerLinkActive="router-link-active"
            color="primary"
          >
            <span class="material-icons"> person </span>
          </button>
          <button
            *ngIf="userIsAuthenticated"
            mat-raised-button
            [routerLink]="['/auth/profile']"
            routerLinkActive="router-link-active"
            color="primary"
          >
            <span class="material-icons"> exit_to_app </span>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
