<section>
  <div class="intro">
    <h3>
      The technology and some key components of how the application works are
      different, but the philosophy is always the same.
    </h3>
  </div>
  <mat-card *ngFor="let item of technologyList" class="example-card">
    <mat-card-content>
      <img mat-card-image src="{{ item.image }}" alt="{{ item.alt }} " />
      <mat-card-title>{{ item.title }}</mat-card-title>
      <p>
        {{ item.text }}
      </p>
      <mat-card-title>{{ item.secondTitle }}</mat-card-title>
      <p>
        {{ item.secondText }}
      </p>
    </mat-card-content>
  </mat-card>
</section>
