<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 container-fluid list group">
    <ul class="nav">
      <li class="list-width">
        <a class="list-group-item list-group-item-action mb-3 bg-dark" [routerLink]="['/about']"
          routerLinkActive="router-link-active">
          <div>
            <h5 class="mb-1 text-white">About</h5>
          </div>
          <p class="mb-1 text-secondary">Be Authentic. Surrender the Outcome. Do Uncomfortable Work.
          </p>
        </a>
      </li>
      <li class="list-width">
        <a class="list-group-item list-group-item-action mb-3 bg-dark" [routerLink]="['/experience']"
          routerLinkActive="router-link-active">
          <div>
            <h5 class="mb-1 text-white">Experience</h5>
          </div>
          <p class="mb-1 text-secondary">Learning is an Active Process that Requires Ardor and Diligence.
          </p>
        </a>
      </li>
      <li class="list-width">
        <a class="list-group-item list-group-item-action mb-3 bg-dark" [routerLink]="['/favorites']"
          routerLinkActive="router-link-active">
          <div>
            <h5 class="mb-1 text-white">Favorites</h5>
          </div>
          <p class="mb-1 text-secondary">Public Figures, Books, Movies and TV Shows dealing with humanities affairs.
          </p>
        </a>
      </li>
      <li class="list-width">
        <a class="list-group-item list-group-item-action mb-3 bg-dark" [routerLink]="['/projects']"
          routerLinkActive="router-link-active">
          <div>
            <h5 class="mb-1 text-white">Projects</h5>
          </div>
          <p class="mb-1 text-secondary">Making a Lively Game Out of Mastering Web Development.
          </p>
        </a>
      </li>
      <li class="list-width">
        <a class="list-group-item list-group-item-action mb-3 bg-dark" [routerLink]="['/technology']"
          routerLinkActive="router-link-active">
          <div>
            <h5 class="mb-1 text-white">Technology</h5>
          </div>
          <p class="mb-1 text-secondary">Developing the Front-End and Back-End of the Web using Open Source Tools.
          </p>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-4"></div>
</div>
