.example-card {
  margin: auto;
  margin-bottom: 1em;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-left: 2em;
}
.mat-card-image:first-child {
  margin-top: 1em;
  border-radius: 50%;
  height: 15em;
  width: 15em;
}
@media (min-width: 1000px) {
  section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }
}
