<section>
  <div class="card-list">
    <mat-card *ngFor="let item of favoritesList" class="example-card">
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{ item.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ item.image }}" alt="{{ item.alt }}" />
      <mat-card-content>
        <p>
          {{ item.content }}
        </p>
      </mat-card-content>
      <mat-chip-list>
        <mat-chip color="primary" href="{{ item.link }}" selected
          >View More</mat-chip
        >
      </mat-chip-list>
    </mat-card>
  </div>
</section>
