<main>
  <div class="text-center">
    <h3>Public Figures</h3>
  </div>
  <div class="container d-flex flex-row flex-wrap justify-content-center">
    <div class="card bg-dark m-3">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Jordan_Peterson_June_2018.jpg" class="card-img-top"
        alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">Jordan B. Peterson</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
    <div class="card bg-dark m-3">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Nietzsche187a.jpg" class="card-img-top" alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">Friedrich Nietzsche</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
    <div class="card bg-dark m-3">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/00/CGJung.jpg" class="card-img-top" alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">Carl Jung</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
  </div>

  <!-- Books -->
  <div class="text-center">
    <h3>Books</h3>
  </div>
  <div class="container d-flex flex-row flex-wrap justify-content-center">
    <div class="card bg-dark m-3">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51oXKWrcYYL.jpg" class="card-img-top" alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">Thinking Fast and Slow</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
    <div class="card bg-dark m-3">
      <img src="https://images-na.ssl-images-amazon.com/images/I/41LMUsSTaNL._SX331_BO1,204,203,200_.jpg" class="card-img-top" alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">The God Delusion</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
    <div class="card bg-dark m-3">
      <img src="https://prodimage.images-bn.com/pimages/9780312583507_p0_v1_s550x406.jpg" class="card-img-top" alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">Ways of the World</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
  </div>

  <!-- Movies -->
  <div class="text-center">
    <h3>Movies</h3>
  </div>
  <div class="container d-flex flex-row flex-wrap justify-content-center">
    <div class="card bg-dark m-3">
      <img src="https://res.cloudinary.com/jerrick/image/upload/fl_progressive,q_auto,w_1024/hztvcwg7zdfdfdojvdgk.jpg"
        class="card-img-top" alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">The Imitation Game</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
    <div class="card bg-dark m-3">
      <img src="https://goodmenproject.com/wp-content/uploads/2019/04/nkFTbA1XjKWo9LCTaV1hV2Lsgr1.jpg"
        class="card-img-top" alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">The King's Speech</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
    <div class="card bg-dark m-3">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c0/V_for_vendettax.jpg/220px-V_for_vendettax.jpg"
        class="card-img-top" alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">V for Vendetta</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
  </div>


  <!-- TV Series -->
  <div class="text-center">
    <h3>TV Series</h3>
  </div>
  <div class="container d-flex flex-row flex-wrap justify-content-center">
    <div class="card bg-dark m-3">
      <img
        src="https://m.media-amazon.com/images/M/MV5BZDUzZmIwYzMtMTNiNS00OTRlLTliYTgtZjljNjNjNTdkNDc4XkEyXkFqcGdeQXVyNjAxNDcwNzY@._V1_.jpg"
        class="card-img-top" alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">The Patriot Act with Hasan Minhaj</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
    <div class="card bg-dark m-3">
      <img
        src="https://m.media-amazon.com/images/M/MV5BNDViYjAyZWUtNGQxMy00MDUyLTlkZTAtOWNkY2M5ZTk5MTE5XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_.jpg"
        class="card-img-top" alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">Star Trek: The Next Generation</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
    <div class="card bg-dark m-3">
      <img src="https://imgc.allpostersimages.com/img/print/u-g-F9DGRL0.jpg?w=550&h=550&p=0" class="card-img-top"
        alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">Rick and Morty</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
  </div>

  <!-- Music -->
  <!-- <div class="text-center">
    <h3>Music</h3>
  </div>
  <div class="container d-flex flex-row flex-wrap justify-content-center">
    <div class="card bg-dark m-3">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
    <div class="card bg-dark m-3">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
    <div class="card bg-dark m-3">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body text-white">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-info">Read More</a>
      </div>
    </div>
  </div> -->
</main>
