.container {
  display: flex;
  justify-content: center;
}
.example-card {
  margin-bottom: 1em;
  margin-bottom: 1em;
  margin-right: 2em;
  margin-left: 2em;
  max-width: max-content;
}
.mat-card-image:first-child {
  margin-top: 1em;
  border-radius: 50%;
  height: 15em;
  width: 15em;
}
.intro {
  display: flex;
  position: relative;
  background: -webkit-linear-gradient(-120deg, #c40707, #bf5700);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}