.profile-picture {
  width: 8rem;
  height: 8rem;
}
.row {
  margin: auto;
}
.card-title {
  background: -webkit-linear-gradient(-120deg, #c40707, #c94c00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-text {
  color: white;
}
