<div class="container row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="card-body bg-dark text-center mb-3">
      <img src="/src/assets/Profile.png" class="profile-picture img-fluid rounded-circle mb-2" alt="...">
      <h2 class="card-title">Who is Erick Flores?</h2>
      <p class="card-text">"If somebody told you I was just your average ordinary guy, without a care in
        the world...
        somebody lied."</p>
    </div>
  </div>
  <div class="col-md-4"></div>
  <app-navigation></app-navigation>
</div>
