<!-- Jumbotron -->
<div class="jumbotron p-4 p-md-5 text-white rounded bg-success">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Who is Erick Flores?</h1>
    <p class="lead my-3">If somebody told you I was just your average ordinary guy, not a care in the world...
      somebody lied.
    </p>
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
  </div>
</div>

<aside class="col-md-4 blog-sidebar">
  <div class="p-4">
    <h4 class="font-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="#">March 2014</a></li>
      <li><a href="#">February 2014</a></li>
      <li><a href="#">January 2014</a></li>
      <li><a href="#">December 2013</a></li>
      <li><a href="#">November 2013</a></li>
      <li><a href="#">October 2013</a></li>
      <li><a href="#">September 2013</a></li>
      <li><a href="#">August 2013</a></li>
      <li><a href="#">July 2013</a></li>
      <li><a href="#">June 2013</a></li>
      <li><a href="#">May 2013</a></li>
      <li><a href="#">April 2013</a></li>
    </ol>
  </div>
</aside>
