<!-- Jumbotron -->
<div class="jumbotron p-4 p-md-5 text-white rounded bg-success">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Who is Erick Flores?</h1>
    <p class="lead my-3">If somebody told you I was just your average ordinary guy, not a care in the world...
      somebody lied.
    </p>
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
  </div>
</div>
<!-- Pinned Projects -->
<div class="row mb-2">
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">Projects</strong>
        <h3 class="mb-0 text-light">40-Eridani</h3>
        <br>
        <p class="card-text mb-auto text-muted">Scalable and high-speed Web Application with Angular (formerly named
          Angular 2, now just "Angular") and NodeJS + Express + MongoDB.</p>
        <a href="#" class="stretched-link">View More</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Thumbnail</text>
        </svg>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">Projects</strong>
        <h3 class="mb-0 text-light">Risa</h3>
        <p class="mb-auto text-muted">Using Node Core Node.js Basics & Basic Core Modules | Parsing Requests &
          Sending
          Responses | Rendering HTML Dynamically (on the Server) | Using Express.js </p>
        <a href="#" class="stretched-link">View More</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Thumbnail</text>
        </svg>
      </div>
    </div>
  </div>
</div>

<!-- START THE FEATURETTES | Feature Headings -->
<div class="row">
  <!-- First Heading -->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        First featurette heading.
        <span class="text-express">It’ll blow your mind.</span>
      </h2>
      <p class="lead">
        A Single Page Application feels much faster to the user, because instead
        of waiting for the client-server communication to happen, and wait for
        the browser to re-render the page, you can now have instant feedback.
      </p>
    </div>
    <div class="col-md-5">
      <img src="/assets/pwa-engaging.png" />
    </div>
  </div>

  <hr class="featurette-divider" />
  <!-- Second Heading -->
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        Oh yeah, it’s that good.
        <span class="text-express">See for yourself.</span>
      </h2>
      <p class="lead">
        In addition to making the experience faster to the user, the server will
        consume less resources because you can focus on providing an efficient
        API instead of building the layouts server-side.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/assets/pwa-fast.png" />
    </div>
  </div>

  <hr class="featurette-divider" />
  <!-- Third Heading -->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        And lastly, this one. <span class="text-express">Checkmate.</span>
      </h2>
      <p class="lead">
        This makes it ideal if you also build a mobile app on top of the API, as
        you can completely reuse your existing server-side code. Single Page
        Applications are easy to transform into Progressive Web Apps, which in
        turn enables you to provide local caching and to support offline
        experiences for your services
      </p>
    </div>
    <div class="col-md-5">
      <img src="/assets/pwa-reliable.png" />
    </div>
  </div>

  <hr class="featurette-divider" />
</div><!-- /.row -->
<!-- END OF FEATURETTE HEADINGS -->

<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit
      amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="#">March 2014</a></li>
      <li><a href="#">February 2014</a></li>
      <li><a href="#">January 2014</a></li>
      <li><a href="#">December 2013</a></li>
      <li><a href="#">November 2013</a></li>
      <li><a href="#">October 2013</a></li>
      <li><a href="#">September 2013</a></li>
      <li><a href="#">August 2013</a></li>
      <li><a href="#">July 2013</a></li>
      <li><a href="#">June 2013</a></li>
      <li><a href="#">May 2013</a></li>
      <li><a href="#">April 2013</a></li>
    </ol>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="#">GitHub</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
    </ol>
  </div>
</aside>
